#misc
.DS_Store

# production
/build
/dist

dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
electron-builder.yml
# test
/test
/wwwroot